[run]
branch = true
parallel = true
omit =
    src/databricks/labs/lakebridge/coverage/*
    src/databricks/labs/lakebridge/helpers/execution_time.py
    tests/resources/lsp_transpiler/lsp_server.py
    __about__.py

[report]
exclude_lines =
    no cov
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    def main()
