.venv
.DS_Store
*.pyc
__pycache__
dist
.idea
/htmlcov/
*.iml
target/
.coverage*
coverage.*
*.iws
/core/gen/
/antlrlinter/gen/
*.tokens
spark-warehouse/
remorph_transpile/
/linter/gen/
/linter/src/main/antlr4/library/gen/
.databricks-login.json
/core/src/main/antlr4/com/databricks/labs/remorph/parsers/*/gen/
