<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.remorph.usagecollection</string>

    <key>ProgramArguments</key>
    <array>
      <string>/Library/Frameworks/Python.framework/Versions/3.11/bin/python3</string>
      <string>$HOME/.databricks/labs/remorph/assessments/pipeline_scheduler.py</string>
    </array>

    <key>StartInterval</key>
    <integer>900</integer>

    <key>RunAtLoad</key>
    <true/>

    <key>StandardOutPath</key>
    <string>$HOME/.databricks/labs/remorph/assessments/scheduler/install/macos/usagecollection.log</string>

    <key>StandardErrorPath</key>
    <string>$HOME/.databricks/labs/remorph/assessments/scheduler/install/macos/usagecollection_error.log</string>
  </dict>
</plist>
